@import ../../variables

section#login
    div.login-firm
        margin: 50px auto
        .head_color_blue
          background: $dirty-blue
        .head_color_orange
          background: $dirty-orange
        .head_color_red
          background: $dirty-red

        .card-header
            margin-bottom: 10px
        form
            margin: 20px 30px 70px
