<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">#}



        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="bg">
                <div class="bg_pattern">
                    <div class="wraper">
                        <header>
                            <div class="logo">
                                <div class="logo-top">The</div>
                                <div class="logo-bottom"><span>news</span>reporter</div>
                            </div>
                            <div class="weath-exchange-rates float-right">
                                <div class="weather">
                                    <div class="weath-city">
                                        Kiev
                                    </div>
                                    <div class="weath-temp">
                                        +11C
                                    </div>
                                </div>
                                <div class="exchange-rates">
                                    <div class="usd">
                                        USD</br> 27.10
                                    </div>
                                    <div class="eur">
                                        EUR</br> 31.80
                                    </div>
                                </div>
                            </div>
                            <ul class="nav float-right main-nav">
                                <li class="nav-item"><a class="nav-link active" href="">home</a></li>
                                <li class="nav-line"></li>
                                <li class="nav-item"><a class="nav-link" href="">About us</a></li>
                                <li class="nav-line"></li>
                                <li class="nav-item"><a class="nav-link" href="">contact</a></li>
                                <li class="nav-line"></li>
                                <li class="nav-item">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a href="{{ logout_path() }}" class="nav-link">Sign out</a>
                                    {% else %}
                                            <a href="login" class="nav-link">Sign in</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </header>
                        <main>
                            <div id="root">
                                {% block body %}{% endblock %}
                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('build/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
