@import variables

@import pages/home/styles
@import pages/login/styles

@import containers/header/styles

a:hover
  text-decoration: none

body
  margin: 0
  padding: 0
  background: #ccc

  div.bg
    height: 1950px
    width: 1040px
    margin: 0 auto
    +backgroundShort('#{$image-path}/bg_map.png', #000)

    div.bg_pattern
      margin: 0
      padding: 30px
      height: 100%
      width: 100%
      +backgroundShort('#{$image-path}/bg_pattern.png')
      
      div.wraper
        margin: 5px 0 0 0;
        padding: 16px;
        height: 100%;
        width: 980px;
        background: #fff;